<?xml version="1.0" encoding="UTF-8"?>
 
<html>
  <head>
     <title>Manage Label for: $action.getDisplayTitle()</title>
     
    #requireResource("com.slashes.confluence.plugins.confluence-plugins-labelman:labelman-resources-js")
    
  </head>


  <body>
    #parse ("/pages/page-breadcrumbs.vm")
    #set($labels = $action.getLabels())
    
    
    <div class="field-label">
        <label for="searchLabel">$i18n.getText('labelman.search.title')</label>
        <input class="text" type="text" id="searchLabel" name="searchLabel" title="search label">
        <input class="button submit" type="submit" value="Search" id="search-btn">
        <a href="forms.html#" title="show all users">Show all label</a>
    </div>
<br/>
<div class="page-section double">
    <div class="page-group">
        <div class="page-item primary">
            
    <table class="aui" data-space-key="$action.getSpaceKey()">
    <thead>
        <tr>
            <th id="name">Name</th>
            <th id="type">Count</th>
            <th id="action">Action</th>
        </tr>
    </thead>
    <tbody>
    	#foreach($label in $labels)
            #parse("/templates/labelman/labels/labels-row.vm")
        #end
    </tbody>
</table>

</div>
        <div class="page-item secondary">
	        <div class="admin-sidebar">
		    	<div class="admin-sidebar-group" id="recent-labels">
		        <h2>$action.getText("recent.labels")</h2>
		        #set($labels = $action.getRecentLabels())
		        #parse("/templates/labelman/labels/labels-list.vm")
		    	</div>
		    	
		    	<div class="admin-sidebar-group " id="popular-labels">
		        <h2>$action.getText("popular.labels")</h2>
		        #set($labels = $action.getPopularLabels())
		        #parse("/templates/labelman/labels/labels-list.vm")
		    	</div>
			</div>
			
        </div>
    </div>
</div>
  </body>
</html>